@font-face {
  font-family: 'iconfont';  /* project id 274932 */
  src: url('//at.alicdn.com/t/font_274932_putg9hdo05krcnmi.eot');
  src: url('//at.alicdn.com/t/font_274932_putg9hdo05krcnmi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_274932_putg9hdo05krcnmi.woff') format('woff'),
  url('//at.alicdn.com/t/font_274932_putg9hdo05krcnmi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_274932_putg9hdo05krcnmi.svg#iconfont') format('svg');
}

.icon{
  font-family: 'iconfont';
  font-style: normal;
  &.clock:before {content: '\e629';}
  &.comment:before {content: '\e61f';}
  &.category:before {content: '\e72b';}
  &.right:before {content: '\e600';}
  &.right-circle:before {content: '\e65c';}
}
