div.right-item
    div.item-header
        img(src='http://www.qq1234.org/uploads/allimg/150506/1213523V1-2.jpg')
    article.item-name
        h1 红西柚
        p ENJOY THE BEST TODAY
    div.item-link
        a(href="https://github.com/azumaster", target="_blank")
            span.icon.github
        a(href="https://weibo.com/u/6336201134", target="_blank")
            span.icon.weibo