footer.page-footer
    nav
        p &copy; 2017. doden.cn
        p
            a(href="http://www.miitbeian.gov.cn", target="_blank") 蜀ICP备 17035254号
            span
                img(src="/img/ba.png")
                a(href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51012202000222", target="_blank") 川公网安备 51012202000222号