header.page-header
    nav
        div.header-img
            a(href="/")
                img(src="/img/logo-colorful.png")
        ul.header-nav#headerNav
            li
                a(href="/") 文章